/* Reset CSS */
*{margin:0; padding:0; box-sizing:border-box;}
body{font-size:14px; font-family:'Open Sans', sans-serif;}
.clear:after{clear:both; display:block; content:'';}
.center{width:100%; height:auto; max-width:1200px; margin:auto; display:flex; flex-wrap:wrap;}
ol, ul{list-style:none;}
a{text-decoration: none; color:#111;}
img{display:block;}
button, input, textarea{outline:0; font-family:'Open Sans';-webkit-appearance: none;}
input[type="checkbox"]{-webkit-appearance: auto; border-radius:0; border:1px solid #111;}
input::placeholder, textarea::placeholder{color:#555; }
/* input:focus, textarea:focus{background:#f8f8f8;} */

.btn{color:#fff; background:#111; display:block; padding:10px 30px; border:1px solid #111;}


.header{width: 100%; height: auto; ; _position: fixed; padding: 10px 0;}
.headerWrap{width: 100%; height: auto; display: flex; justify-content: space-between; align-items: center;}
.headerWrap .logo{color: #fff; font-family: 'Bebas Neue', cursive; color: #fff; font-size: 35px; font-weight: 600;}
.headerWrap .nav{display: flex;}
.headerWrap .nav li{margin-left: 10px; font-family: 'Bebas Neue', cursive; font-size: 25px;}
.headerWrap .nav li::after{color: aliceblue;}
.headerWrap .nav li a{color: #fff;}




/* genre */
.wrap{width: 100%; height: auto; background: url(../img/theater.jpg) no-repeat; background-size: cover; background-attachment: fixed;}



.genre-section{width: 100%; max-width: 980px; height: auto; margin:auto; padding:50px 0}
.genre-section>div{margin: 30px 0;}
.slide-box{padding: 5px;}
.slide-box img{width: 100%;}
