@media screen and (max-width:1280px){
  .header{padding: 10px 10px;}
  .container{padding: 40px 40px;}



  /* detail */
  .detail_header{padding: 10px;}
}



@media screen and (max-width:1024px){
  /* .wrap{height: 100%;} */
  .container{padding: 40px 40px;}
  .container2{width: 100%;}


  /* recent */
  .recent-movie-wrap{width: 25%;}



  /* genre */
  .genreTit{margin: 0;}

  .tabs{flex-direction: column; margin: 5px 0;}
  .all{width: 100%; margin-bottom: 5px; padding: 5px 0;}
  .buttons{display: flex; flex-wrap: wrap; justify-content: space-between;}
  .buttons button{width: 19%;margin-bottom: 5px; padding: 5px 0;}



  /* search */
.movie_con .item-sizer{width:25%;}
.movie_con .movie_box{width:25%;}

}



@media screen and (max-width:700px){
  .search-box{text-align: center;}
  .search-box h1{font-size: 100px;}
  .search-box .searchInput{width: 300px;}
  .recent-movie-wrap{width: 33%;}

   /* genre */
   .buttons button{font-size: 12px;}
   .all{font-size: 12px;}



   /* search */
   /* .movie_con .item-sizer{width:25%;} */

   .movie_con .movie_box .date{display: none;}
  .movie_con .movie_box .rate{display: none;}




  .img_txt .detailTxt .title{font-size: 30px;}
  .img_txt .detailTxt .additional{font-size: 16px;}
  .desc{font-size: 18px;}

}



@media screen and (max-width:600px){
  .container{padding: 20px;}
  .bg{background-position-x: 80%;}
  .search-box{text-align: center;}
  .search-box .searchInput{width: 300px;}



  .recent-movie-wrap{width: 50%;}


  /* genre */


  .genre-section>div{margin: 10px 0;}
  .slide-txt p,.silde-inbox .detail{width: 100%;}
  .silde-inbox .detail{text-align: left;}

  .tabs{flex-direction: column; margin: 5px 0;}
  .all{width: 100%; margin-bottom: 5px; padding: 5px 0;}
  .buttons{display: flex; flex-wrap: wrap; justify-content: space-between;}
  .buttons button{width: 19%; margin-bottom: 5px; font-size: 12px; padding: 5px 0;}






  /* search */
  .movie_con .item-sizer{width:33%;}
  .movie_con .movie_box{width:33%;}

  .movie_con .movie_box .img-box{width:100%;}

  .movie_con .movie_box h2{font-size: 12px;}
  .movie_con .movie_box .director{}
  .movie_con .movie_box .date{display: none;}
  .movie_con .movie_box .rate{display: none;}






  /* detail */
  .img_txt .detailTxt .title{font-size: 25px;}
  .img_txt .detailTxt .additional{font-size: 14px;}
  .desc{font-size: 16px;}
}


@media screen and (max-width:480px){



  .nav .logo{display: none;}
  .navList{width: 100%; justify-content:center;} 
  .nav>ul>li{margin: 0 5px;}

  .search-box .searchInput{width: 200px; height: 40px;}
  .search-box .sendBtn{width: 50px; height: 40px;}





  .headerWrap .logo{display: none;}
  .headerWrap .nav{width: 100%; justify-content: center;}
  .headerWrap .nav li{margin: 0 5px;}

  .container{padding: 20px 10px;}

  .recentTit{margin: 0;}
  .recent-movie-wrap{padding: 3px;}
  .numBtns button{padding: 5px;}



  /* genre */
  .genreTit{margin: 0;}
  .tabs{flex-direction: column; margin: 5px 0;}
  .all{width: 100%; margin-bottom: 5px; padding: 5px 0;}
  .buttons{display: flex; flex-wrap: wrap; justify-content: space-between;}
  .buttons button{width: 19%;margin-bottom: 5px;font-size: 10px; padding: 5px 0;}




    /* search */
    .movie_con .item-sizer{width:50%;}
    .movie_con .movie_box{width:50%;}
}
